html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
}

img[alt*=".jpg"],
img[alt*=".jpeg"],
img[alt*=".gif"],
img[alt*=".webp"],
img[alt*=".png"],
img[alt*="Photographer:"],
img[alt*="Image of:"],
img[alt*="Photo of:"],
img:not([alt$="."]) {
  outline: 5px solid orange;
}

img,
video {
  max-width: 100%;
  height: auto;
}

::selection {
  color: #000;
  background: #fbd404;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.bottom-slide {
  position: relative;
}
._slide-container {
  position: absolute;
  top: 0;
  background: transparent;
}
._slide-container ._slide {
  position: relative;
  height: 100%;
}
._slide ::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: " ";
  pointer-events: none;
}
._stretch {
  /* overflow: hidden; */
}
._stretch.right,
._stretch.left {
  width: 13px;
  height: 100%;
  cursor: ew-resize;
}
._stretch.right svg,
._stretch.left svg {
  position: relative;
  height: 100%;
  width: inherit;
}

._stretch.left svg {
  left: -6px;
}
._stretch.right svg {
  left: 6px;
}
.bottom-slide ._slide {
  display: flex;
}

.bottom-slide ._slide ._move {
  flex: 1;
  background: rgba(0, 0, 0, 0.06);
  margin: 0 -13px;
  cursor: col-resize;
}
