html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
}

img[alt*=".jpg"],
img[alt*=".jpeg"],
img[alt*=".gif"],
img[alt*=".webp"],
img[alt*=".png"],
img[alt*="Photographer:"],
img[alt*="Image of:"],
img[alt*="Photo of:"],
img:not([alt$="."]) {
  outline: 5px solid orange;
}

img,
video {
  max-width: 100%;
  height: auto;
}

::selection {
  color: #000;
  background: #fbd404;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.bottom-slide {
  position: relative;
}
._slide-container {
  position: absolute;
  top: 50;
}
._slide-container ._slide {
  position: relative;
  height: 100%;
  background: lightcoral;
}
._slide ::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: " ";
  pointer-events: none;
}
._stretch {
  width: 13px;
  height: 100%;
  background: -9px 0
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/P…N2LTM0MS4zMzMzMzN6IiBmaWxsPSIjRUZGMkY5IiBwLWlkPSIyNzAwIj48L3BhdGg+PC9zdmc+)
    no-repeat;
  background-size: auto 30px;
  cursor: ew-resize;
}
._stretch.right {
}
.bottom-slide ._slide {
  display: flex;
}

.bottom-slide ._slide ._move {
  flex: 1;
}
